/* @import "tailwindcss/preflight"; */
@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
  :root {
    --background: 0 0% 97%;
    --grid-line: 0 0% 95%;
  }
  
  [data-theme="dark"] {
    --background: 0 0% 9%;
    --grid-line: 0 0% 15%;
  }
}

.background {
  overflow: hidden;
  background-color: hsl(var(--background));
  background-image: 
    repeating-linear-gradient(0deg, 
      transparent,
      transparent 11px,
      hsl(var(--grid-line)) 11px,
      hsl(var(--grid-line)) 12px
    );
}
